<strong>Olá, {{ student }}</strong>
<p>Você acabou de adquirir o ticket para o mundo fitness com o GymPoint, confira os detalhes abaixo:</p>
<p>
	<strong>Plano: </strong> {{ plan }} <br />
	<strong>Data de término: </strong> {{ end_date }} <br />
	<strong>Preço: </strong>R$ {{ price }} <br />
	<br />
	<p>
		Seja bem-vindo(a) a sua nova academia. Agradeçemos a preferência.
	</p>
</p>