<strong>Olá, {{ student }}</strong>
<p>A nossa equipe empenhou-se bastante para resolver seu problema. Abaixo encontra-se a solução.
</p>
<p>
	<strong>Sua pergunta foi esta: </strong>{{ question }}<br />
	<strong>Resposta: </strong>{{ answer }}
</p>